* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

:root {
    --clr1: #FFF8E1;
    --clr2: #6D4C41;


}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--clr2);
}

html::-webkit-scrollbar-thumb {
    background: var(--clr1);
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: var(--clr2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8%;
}

.head .logo {
    font-weight: bold;
    color: #fff;
    font-size: 2.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-right: 2rem;
}

.head .navbar a:hover {
    color: var(--clr1);
}

#menu {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    transition: 2s linear;
    display: none;


}

section {
    min-height: 100vh;
    padding: 1rem 10%;
    background: linear-gradient(135deg, #6D4C41, #D7CCC8, #FFF8E1);
}

.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #aaa;
    background: #fff;
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #3E2723;
    transition: ease-out 0.5s;
}

.btn:hover {
    color: #eee;
    border: none;
    box-shadow: inset 0 -100px 0 0 #3E2723;

}

.btn:active {
    transform: scale(0.9);
}

.Home {
    padding-top: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://www.marriagecolours.com/wp-content/uploads/2025/04/Anisha-Vishal-Reception-MRC-9.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.Home .content {
    text-align: center;
    padding-top: 10rem;
    margin: 3rem auto;
    max-width: 80rem;
}

.Home .content p {
    font-size: 3rem;
    color: var(--clr2);
    text-transform: uppercase;
    letter-spacing: .5rem;

}

.Home .content h3 {
    color: #fff;
    font-size: 4.6rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.fa-heart {
    color: red;
}

.heading {
    text-align: center;
    padding-top: 3rem;
    font-size: 5rem;
    color: #333;
}

.bor {
    display: inline-block;
    margin: auto;
    width: 12rem;
    padding-bottom: 2rem;

}

.about .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .container .im {
    flex: 1 1 40rem;
    padding: 1rem;
}

.about .container .im img {
    width: 100%;
    border-radius: 5rem;
    border: 5rem solid #aaa;
}

.about .container .content {
    flex: 1 1 40rem;
    padding: 1rem;
}

.about .container .content h3 {
    font-size: 3.5rem;
    color: #aaa;

}

.about .container .content p {
    text-transform: capitalize;
    justify-content: baseline;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #333;
}

span {
    color: #8D6E63;
}

.service-slider .swiper-slide {
    overflow: hidden;
    background: #aaa;
    border-radius: .4rem;
    align-items: center;
    height: 50rem;
    width: 35rem;

}

.service-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;


}

.service-slider .swiper-slide {
    background: var(--clr2);
    position: relative;
    text-align: center;
    font-size: 3rem;
}

.price .price-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.price .price-container .price-box {
    padding: 2rem 0;
    background: #eee;
    border-radius: .5rem;
    text-align: center;
}

.price .price-container .price-box .package {
    background: var(--clr2);
    color: #000;
    padding: 1.5rem 0;
    font-size: 2rem;
}

.price .price-container .price-box .amount {
    background: var(--clr2);
    padding-top: 2rem;
    font-size: 4rem;
}

.price .price-container .price-box .fa-square-check {
    padding-right: .5rem;
    color: #795548;

}

.price .price-container .price-box p {
    font-size: 1.5rem;
    color: #000;
    padding: .5rem 0;
}

.service-slider .info {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding: 5px;
}

.Events .inner-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.gallery-box {
    height: 40rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.gallery-box img {
    width: auto;
    height: 40rem;
    background-size: cover;
    border-radius: 5px;
    transition: transform 0.5s;
}

.gallery-content {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, aliceblue 60%);
    border-radius: 5px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    position: absolute;

}

.gallery-content h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--clr2);
    margin-bottom: 5px;
    margin-top: 70%;
    font-weight: 700;

}

.gallery-content h3:hover {
    letter-spacing: 2px;
    transition: .5s ease in-out;

}

.gallery-content p {
    font-size: 1rem;
    text-transform: Capitalize;
    padding: .5rem;
    line-height: 1.5rem;

}

.gallery-box:hover .gallery-content {
    height: 100%;
}

.gallery-box:hover img {
    transform: scale(1.2);
}

.review .review-sec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.review .review-box {
    border-radius: .2rem;
    background: var(--clr1);
    padding-top: 4rem;
    position: relative;

}

.review .review-box .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #3E2723;
    font-size: 5rem;
}

.review .review-box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.review .review-box .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .review-box .user h3 {
    font-size: 2rem;
    color: #3E2723;
}

.review .review-box .user p {
    line-height: 3;
    color: #eee;
    padding: 20px;
    font-size: 1.8rem;

}

.rate {
    font-size: 2rem;
    display: flex;

}

.fa-star,
.fa-star-half {
    font-size: 2.8rem;
    color: orange;
}

.rate p {
    font-size: 1.2rem;
    padding-left: 10rem;
}

.contact {
    padding-top: 3rem;
}

.contact-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-inner-col {
    margin: 2rem;
    flex: 1 1 20rem;
    text-align: center;
}

.contact-inner-col h1 {
    padding: 1rem;
    color: #3E2723;
    font-size: 3rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}

.contact-inner-col p {
    padding: .5rem;
    color: var(--clr1);
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-transform: capitalize;
}

.contact-inner-col input,
.contact-inner-col textarea {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border: 2px solid var(--clr2);
}

.cont-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    background: aliceblue;
}

.f-container h2 {
    font-size: 2.5rem;
    color: var(--clr2);
    padding: 1rem;
}

.f-container a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--clr2);
    padding: .5rem;
    display: block;
    width: 20rem;
    margin-top: 1rem;
}

.f-container i {
    padding-right: .5rem;
    color: #3E2723;

}

.f-container p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #3E2723;
}

.f-container input {
    width: 90%;
    padding: 1rem;
    background: #fff;
    border: none;

}

.f-container .social i {
    margin-top: 1rem;
    font-size: 2rem;
    background: var(--clr2);
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;

}

.f-container .social i:hover {
    transform: translateY(1.5rem);
    transition: 1s ease;
}

.copyright {
    padding: 2rem;
    text-align: center;
    background: var(--clr2);
    font-size: 1.5rem;
}

.copyright p {
    font-size: 1.2rem;
    color: var(--clr3);
}

























/*--------------------media query-------------------------*/
@media(max-width:991px) {
    html {
        font-size: 55%;
    }

}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

}

@media(max-width:768px) {
    #menu {
        display: block;

    }

    .head .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-bottom: 1rem solid aliceblue;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .head .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .head .navbar .btn:active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }

    .head .navbar a {
        display: flex;
        background: #222;
        border-radius: 5rem;
        padding: 1.2rem;
        margin: 1.2rem;
        font-size: 1.4rem;

    }
}